# Build files
.gradle/
build/
*/build/
app/build/

# APK / Generated outputs
*.apk
*.ap_
*.aab

# Local configuration
local.properties

# IDE files
.idea/
*.iml

# Logs / temp
*.log
*.bak
dev_rules.txt

# Archives
*.zip

# Android captures
captures/

# macOS junk
.DS_Store
